@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #FFFFFF;
  --accent-orange: #FF5000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange: var(--accent-orange);
  
  --font-display: var(--font-bebas-neue), sans-serif;
  --font-sans: var(--font-inter), sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Hide Scrollbar Utilities */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
